name: CI

on:
  push:

concurrency:
  group: ${{ github.ref }}-ci
  cancel-in-progress: true

jobs:
  quality:
    name: Quality
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v4

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Use Node 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org

      - name: Bootstrap
        run: just bootstrap-ci

      - name: Run quality checks
        run: just quality

  test:
    name: Test
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v4

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Use Node 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org

      - name: Bootstrap
        run: just bootstrap-ci

      - name: Run tests
        run: just test-cov

  example-test:
    name: Example Test
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v4

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Use Node 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org

      - name: Bootstrap
        run: just bootstrap-ci

      - name: Type check example (before transformation)
        run: just type-check-example

      - name: Lint example (before transformation)
        run: just lint-example

      - name: Run example tests (before transformation)
        run: just test-example

      - name: Transform example
        run: node ./bin/dev.mjs run example

      - name: Type check example (after transformation)
        run: just type-check-example

      - name: Lint example (after transformation)
        run: just lint-example

      - name: Run example tests (after transformation)
        run: just test-example
